@model aaa.Models.AttestionDeCesseison

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AttestionDeCesseison</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dossier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dossier.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_ET_Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_ET_Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaisonSociale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaisonSociale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDassurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDassurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AttestionDeCesseisonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
