@model aaa.Models.AttestionTravail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AttestionTravail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dossier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dossier.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodeReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodeReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaireSoumisCotisation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaireSoumisCotisation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AttestionTravailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
